/* Em app.component.scss */

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    width: 100%;
    padding: 2rem; /* Adiciona um respiro (espaço) abaixo do header */
    box-sizing: border-box; /* Garante que o padding não quebre o layout */
  }