# Dependências do Node.js
node_modules/
npm-debug.log*
yarn-debug.log*

# Arquivos de log e temporários
*.log
*.tmp
*.swp
.DS_Store # Arquivos do macOS

# Cache do IDE (Visual Studio Code, por exemplo)
.vscode/

# Ignora o arquivo de configuracao do banco de dados
src/config/dbPgConfig.js
.env