.register-container {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    text-align: center;
  }
  
  .book-icon {
    width: 500px;       /* seu tamanho aumentado */
    max-width: 100%;    /* garante que não ultrapasse a tela em telas menores */
    display: block;     /* importante para centralizar */
    margin: 0 auto 15px auto; /* centraliza horizontalmente e mantém margem inferior */
  }
  
  h2 {
    margin-bottom: 25px;
    color: #333;
  }
  
  .form-group {
    text-align: left;
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  input {
    width: 96%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 24px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #1976d2;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
  }
  
  button:hover {
    background-color: #135ba1;
  }
  
  .login-link {
    margin-top: 15px;
    font-size: 18px;
  }
  
  .login-link a {
    color: #1976d2;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  